Package: enigma2-plugin-softcams-ncam-revcamv2
Version: V12.9-r0
Description: ncam to all images OE2.0 (Patched and Build by RAED)
Priority: optional
Maintainer: RAED (rrrr53@hotmail.com)
License: open
Architecture: all
Depends: libcurl4
Source: https://github.com/fairbird/NCam
Homepage: www.tunisia-sat.com
